In [1]:
import pandas as pd
import numpy as np
import os
os.chdir(r"C:\Users\Owner\Dropbox\Proj\LIC_Development")
taxrolls = pd.read_parquet('taxrolls0924.parquet.gz')

In [2]:
taxrolls.head()

,BORO,BLOCK,LOT,EASE,TC,FMV,UNITS,BC,SQFT,ZIP,LAND_AREA,is_coop_or_condo,is_condo,is_coop,fy,TCfull
0,1.0,1.0,10.0,,4,337093000.0,1.0,Y4,2542066.0,10004,7665016.0,False,False,False,2024,4
1,1.0,1.0,101.0,,4,30489000.0,0.0,P7,541886.0,10004,541886.0,False,False,False,2024,4
2,1.0,1.0,111.0,,4,8675215.0,1.0,Y4,47580.0,10004,64451.0,False,False,False,2024,4
3,1.0,1.0,112.0,,4,378547.0,1.0,Y4,8445.0,10004,7225.0,False,False,False,2024,4
4,1.0,1.0,201.0,,4,233580000.0,0.0,Z9,603130.0,10004,2764190.0,False,False,False,2024,4

# Introduction

Long Island City (LIC), a neighborhood in Queens, experienced substantial real estate development in the early 21st century. The development can be observed in time lapse Google Earth images of the LIC downtown, centered around the Queens Plaza subway station (see images below). In this report, I investigate the character of this development. I consider the number of properties, the number of units, full market value, and total building square footage, by type of property. 

To begin, I explore the extent of LIC development, compared to other zip codes in the city. I find that "core LIC", which I defined to be zip code 11101, had the third largest increase in gross square footage among zip codes in the City between the years of 2009 through 2024 (years refer to City fiscal years, and therefore estimates on the tax rolls are as of the prior January, for example when I say 2009, the estimates are intended to be as of January, 2008). The only two zip codes with larger increases were 10001, which includes the Hudson Yards development, and 11201, which includes Downtown Brooklyn and DUMBO. 

Digging into the particulars of LIC development itself, I am interested in what kinds of residential developments occurred in LIC over this period. In particular, what share of new properties are owner-occupied condos versus renter-occupied units? It is challenging to estimate these shares using the available data, since rental units can be "condo'ed out," so the ownership structure does not necessarily imply owner-occupancy. It is also challenging to separate pied-Ã -terre condos from rental units (as they will both look like non-owner occupancy). Nevertheless, using the available data I attempt to identify condo ownership, and owner-occupied condos, separately from rental units, and report on the character of residential development.

# Overall Development of Real Estate Square Footage by Zip Code

In [3]:
dat = taxrolls.copy()
dat['TC'] = dat['TC'].astype(str)
dat['ZIP'] = dat['ZIP'].astype(str).str[0:5]
dat['lic_proper'] = dat['ZIP']=='11101'
dat['lic_broad'] = dat['ZIP'].isin(['11101','11102','11103','11104','11105','11106','11109','11120'])

In [4]:
dat.columns

Index(['BORO', 'BLOCK', 'LOT', 'EASE', 'TC', 'FMV', 'UNITS', 'BC', 'SQFT',
       'ZIP', 'LAND_AREA', 'is_coop_or_condo', 'is_condo', 'is_coop', 'fy',
       'TCfull', 'lic_proper', 'lic_broad'],
      dtype='object')

In [5]:
landareas_byzip = dat.loc[dat['fy']==2024].groupby('ZIP',as_index=False)['LAND_AREA'].sum()

In [6]:
grossqft_byzipfy = dat.groupby(['fy','ZIP'],as_index=False)['SQFT'].sum()

In [7]:
grossqft_byzipfy.head()

     fy    ZIP        SQFT
0  2009    0.0  59380309.0
1  2009  10001  77915039.0
2  2009  10002  43042234.0
3  2009  10003  59025271.0
4  2009  10004  44273953.0

In [8]:
# pivot grossqft to get change
grossqft_byzipfy_pivot = grossqft_byzipfy.pivot(index = 'ZIP',columns='fy', values = 'SQFT')

In [9]:
grossqft_byzipfy_pivot.head()

fy           2009         2024
ZIP
              NaN     547171.0
0             NaN   51675412.0
0.0    59380309.0          NaN
00000         NaN       4671.0
10001  77915039.0  119503132.0

In [10]:
grossqft_byzipfy_pivot['delta'] = grossqft_byzipfy_pivot[2024] - grossqft_byzipfy_pivot[2009]

In [11]:
grossqft_byzipfy_pivot.head()

fy           2009         2024       delta
ZIP
              NaN     547171.0         NaN
0             NaN   51675412.0         NaN
0.0    59380309.0          NaN         NaN
00000         NaN       4671.0         NaN
10001  77915039.0  119503132.0  41588093.0

In [12]:
grossqft_byzipfy_pivot = grossqft_byzipfy_pivot.dropna()

In [13]:
grossqft_byzipfy_pivot.head()

fy           2009         2024       delta
ZIP
10001  77915039.0  119503132.0  41588093.0
10002  43042234.0   55900609.0  12858375.0
10003  59025271.0   63956240.0   4930969.0
10004  44273953.0   37097035.0  -7176918.0
10005  30116393.0   32581263.0   2464870.0

In [14]:
zip_summs = landareas_byzip.join(grossqft_byzipfy_pivot,on='ZIP')

In [15]:
zip_summs.head()

     ZIP     LAND_AREA        2009         2024       delta
0         4.013860e+05         NaN          NaN         NaN
1  0      1.185231e+09         NaN          NaN         NaN
2  00000  2.053500e+04         NaN          NaN         NaN
3  10001  3.508351e+07  77915039.0  119503132.0  41588093.0
4  10002  3.346651e+08  43042234.0   55900609.0  12858375.0

In [16]:
zip_summs = zip_summs.dropna()

In [17]:
zip_summs.head()

     ZIP    LAND_AREA        2009         2024       delta
3  10001   35083506.0  77915039.0  119503132.0  41588093.0
4  10002  334665100.0  43042234.0   55900609.0  12858375.0
5  10003   82757664.0  59025271.0   63956240.0   4930969.0
6  10004   23274788.0  44273953.0   37097035.0  -7176918.0
7  10005   25488277.0  30116393.0   32581263.0   2464870.0

In [18]:
zip_summs['delta_per_landarea'] = zip_summs['delta']/zip_summs['LAND_AREA']

In [19]:
zip_summs['lic_proper'] = zip_summs['ZIP']=='11101'
zip_summs['lic_broad'] = zip_summs['ZIP'].isin(['11101','11102','11103','11104','11105','11106','11109','11120'])

In [20]:
zip_summs.head()

,ZIP,LAND_AREA,2009,2024,delta,delta_per_landarea,lic_proper,lic_broad
3,10001,35083506.0,77915039.0,119503132.0,41588093.0,1.185403,False,False
4,10002,334665100.0,43042234.0,55900609.0,12858375.0,0.038422,False,False
5,10003,82757664.0,59025271.0,63956240.0,4930969.0,0.059583,False,False
6,10004,23274788.0,44273953.0,37097035.0,-7176918.0,-0.308356,False,False
7,10005,25488277.0,30116393.0,32581263.0,2464870.0,0.096706,False,False

In [22]:
zip_summs.sort_values(by='delta_per_landarea',ascending=False).head(50)

,ZIP,LAND_AREA,2009,2024,delta,delta_per_landarea,lic_proper,lic_broad
85,10281,280175.0,2651866.0,5819649.0,3167783.0,11.306444,False,False
135,11109,906824.0,3290605.0,5394068.0,2103463.0,2.319593,False,True
3,10001,35083506.0,77915039.0,119503132.0,41588093.0,1.185403,False,False
9,10007,14106122.0,27662530.0,42058868.0,14396338.0,1.020574,False,False
36,10036,30100013.0,85542506.0,104235682.0,18693176.0,0.621035,False,False
99,10451,23919177.0,36653736.0,49859095.0,13205359.0,0.552082,False,False
42,10044,6776394.0,8358011.0,11853179.0,3495168.0,0.515786,False,False
103,10455,15600212.0,20643364.0,28131210.0,7487846.0,0.479984,False,False
151,11217,26788536.0,31780590.0,42981658.0,11201068.0,0.418129,False,False
18,10018,11432310.0,52771069.0,57545767.0,4774698.0,0.417649,False,False
38,10038,16856942.0,34304261.0,41041861.0,6737600.0,0.399693,False,False
107,10459,15870754.0,22792590.0,28759658.0,5967068.0,0.375979,False,False
8,10006,2505427.0,15062880.0,15976918.0,914038.0,0.364823,False,False
37,10037,5864098.0,12960932.0,15082107.0,2121175.0,0.361722,False,False
100,10452,14204797.0,31496905.0,36611281.0,5114376.0,0.360046,False,False
140,11206,41001020.0,44008223.0,58445523.0,14437300.0,0.352121,False,False
104,10456,19199553.0,35725038.0,42184213.0,6459175.0,0.336423,False,False
173,11239,15361192.0,9698242.0,14620675.0,4922433.0,0.320446,False,False
27,10027,30559447.0,40583038.0,50278424.0,9695386.0,0.317263,False,False
156,11222,36523777.0,29767415.0,41033361.0,11265946.0,0.308455,False,False
130,11102,18452241.0,15486548.0,21049134.0,5562586.0,0.301459,False,True
14,10013,40023527.0,62921347.0,74645287.0,11723940.0,0.292926,False,False
129,11101,127501990.0,58697128.0,94662598.0,35965470.0,0.282078,True,True
15,10014,28044176.0,39693146.0,47522626.0,7829480.0,0.279184,False,False
12,10011,44642818.0,66358478.0,78690922.0,12332444.0,0.276247,False,False
102,10454,19530225.0,24055488.0,29400985.0,5345497.0,0.273704,False,False
16,10016,68848479.0,77475914.0,96306785.0,18830871.0,0.273512,False,False
29,10029,26886283.0,43500688.0,50813769.0,7313081.0,0.272000,False,False
101,10453,15607209.0,31637666.0,35851232.0,4213566.0,0.269976,False,False
105,10457,23644750.0,33247915.0,39598681.0,6350766.0,0.268591,False,False
13,10012,13464941.0,31913291.0,35469260.0,3555969.0,0.264091,False,False
139,11205,32211936.0,28819243.0,37082597.0,8263354.0,0.256531,False,False
24,10024,18576432.0,53117955.0,57814485.0,4696530.0,0.252822,False,False
86,10282,832110.0,9378518.0,9587165.0,208647.0,0.250744,False,False
172,11238,45661362.0,34298566.0,44682303.0,10383737.0,0.227408,False,False
223,11430,632796.0,526026.0,665109.0,139083.0,0.219791,False,False
108,10460,34844642.0,25111733.0,32556546.0,7444813.0,0.213657,False,False
227,11435,28990732.0,24258296.0,30452252.0,6193956.0,0.213653,False,False
155,11221,28559971.0,38009308.0,43770323.0,5761015.0,0.201716,False,False
136,11201,182108952.0,81973006.0,118660026.0,36687020.0,0.201456,False,False
116,10468,19603325.0,35098809.0,38354808.0,3255999.0,0.166094,False,False
150,11216,27236502.0,30701693.0,35217613.0,4515920.0,0.165804,False,False
106,10458,27797400.0,36690729.0,40924580.0,4233851.0,0.152311,False,False
30,10030,10363867.0,14288120.0,15856605.0,1568485.0,0.151342,False,False
236,11697,17453686.0,56194.0,2677780.0,2621586.0,0.150202,False,False
158,11224,48095936.0,23554812.0,30478367.0,6923555.0,0.143953,False,False
224,11432,47518198.0,36224367.0,42701405.0,6477038.0,0.136306,False,False
23,10023,107170554.0,74307900.0,88910391.0,14602491.0,0.136255,False,False
171,11237,22246288.0,23925023.0,26861705.0,2936682.0,0.132008,False,False
47,10069,10904060.0,9026694.0,10435609.0,1408915.0,0.129210,False,False

In [23]:
zip_summs.sort_values(by='delta',ascending=False).head(50) # lic_proper is number 3 when ordered by grosqft delta, 2009->2024

,ZIP,LAND_AREA,2009,2024,delta,delta_per_landarea,lic_proper,lic_broad
3,10001,35083506.0,77915039.0,119503132.0,41588093.0,1.185403,False,False
136,11201,182108952.0,81973006.0,118660026.0,36687020.0,0.201456,False,False
129,11101,127501990.0,58697128.0,94662598.0,35965470.0,0.282078,True,True
16,10016,68848479.0,77475914.0,96306785.0,18830871.0,0.273512,False,False
36,10036,30100013.0,85542506.0,104235682.0,18693176.0,0.621035,False,False
23,10023,107170554.0,74307900.0,88910391.0,14602491.0,0.136255,False,False
140,11206,41001020.0,44008223.0,58445523.0,14437300.0,0.352121,False,False
9,10007,14106122.0,27662530.0,42058868.0,14396338.0,1.020574,False,False
180,11354,132762357.0,39072144.0,52824315.0,13752171.0,0.103585,False,False
99,10451,23919177.0,36653736.0,49859095.0,13205359.0,0.552082,False,False
4,10002,334665100.0,43042234.0,55900609.0,12858375.0,0.038422,False,False
12,10011,44642818.0,66358478.0,78690922.0,12332444.0,0.276247,False,False
14,10013,40023527.0,62921347.0,74645287.0,11723940.0,0.292926,False,False
156,11222,36523777.0,29767415.0,41033361.0,11265946.0,0.308455,False,False
151,11217,26788536.0,31780590.0,42981658.0,11201068.0,0.418129,False,False
172,11238,45661362.0,34298566.0,44682303.0,10383737.0,0.227408,False,False
27,10027,30559447.0,40583038.0,50278424.0,9695386.0,0.317263,False,False
181,11355,222664867.0,38847870.0,48474991.0,9627121.0,0.043236,False,False
230,11691,67654462.0,26130918.0,34639700.0,8508782.0,0.125768,False,False
139,11205,32211936.0,28819243.0,37082597.0,8263354.0,0.256531,False,False
15,10014,28044176.0,39693146.0,47522626.0,7829480.0,0.279184,False,False
103,10455,15600212.0,20643364.0,28131210.0,7487846.0,0.479984,False,False
108,10460,34844642.0,25111733.0,32556546.0,7444813.0,0.213657,False,False
29,10029,26886283.0,43500688.0,50813769.0,7313081.0,0.272000,False,False
158,11224,48095936.0,23554812.0,30478367.0,6923555.0,0.143953,False,False
38,10038,16856942.0,34304261.0,41041861.0,6737600.0,0.399693,False,False
224,11432,47518198.0,36224367.0,42701405.0,6477038.0,0.136306,False,False
104,10456,19199553.0,35725038.0,42184213.0,6459175.0,0.336423,False,False
149,11215,76045149.0,44127663.0,50581023.0,6453360.0,0.084862,False,False
19,10019,126888245.0,123646360.0,130018086.0,6371726.0,0.050215,False,False
105,10457,23644750.0,33247915.0,39598681.0,6350766.0,0.268591,False,False
227,11435,28990732.0,24258296.0,30452252.0,6193956.0,0.213653,False,False
199,11374,72809793.0,26840537.0,32827261.0,5986724.0,0.082224,False,False
107,10459,15870754.0,22792590.0,28759658.0,5967068.0,0.375979,False,False
155,11221,28559971.0,38009308.0,43770323.0,5761015.0,0.201716,False,False
25,10025,135625803.0,81929788.0,87626605.0,5696817.0,0.042004,False,False
130,11102,18452241.0,15486548.0,21049134.0,5562586.0,0.301459,False,True
102,10454,19530225.0,24055488.0,29400985.0,5345497.0,0.273704,False,False
160,11226,40489826.0,46054144.0,51190046.0,5135902.0,0.126844,False,False
100,10452,14204797.0,31496905.0,36611281.0,5114376.0,0.360046,False,False
153,11219,56012871.0,44406600.0,49441174.0,5034574.0,0.089882,False,False
169,11235,68845110.0,51746642.0,56700508.0,4953866.0,0.071957,False,False
5,10003,82757664.0,59025271.0,63956240.0,4930969.0,0.059583,False,False
173,11239,15361192.0,9698242.0,14620675.0,4922433.0,0.320446,False,False
18,10018,11432310.0,52771069.0,57545767.0,4774698.0,0.417649,False,False
24,10024,18576432.0,53117955.0,57814485.0,4696530.0,0.252822,False,False
121,10473,46896917.0,25848510.0,30375883.0,4527373.0,0.096539,False,False
150,11216,27236502.0,30701693.0,35217613.0,4515920.0,0.165804,False,False
194,11368,40991029.0,34140768.0,38539653.0,4398885.0,0.107313,False,False
106,10458,27797400.0,36690729.0,40924580.0,4233851.0,0.152311,False,False