In [1]:
import pandas as pd
import numpy as np
import os
os.chdir(r"C:\Users\Owner\Dropbox\Proj\LIC_Development")
taxrolls = pd.read_parquet('taxrolls0924.parquet.gz')

In [2]:
taxrolls.head()

,BORO,BLOCK,LOT,EASE,TC,FMV,UNITS,BC,SQFT,ZIP,is_coop_or_condo,is_condo,is_coop,fy,TCfull
0,1.0,1.0,10.0,,4,337093000.0,1.0,Y4,2542066.0,10004,False,False,False,2024,4
1,1.0,1.0,101.0,,4,30489000.0,0.0,P7,541886.0,10004,False,False,False,2024,4
2,1.0,1.0,111.0,,4,8675215.0,1.0,Y4,47580.0,10004,False,False,False,2024,4
3,1.0,1.0,112.0,,4,378547.0,1.0,Y4,8445.0,10004,False,False,False,2024,4
4,1.0,1.0,201.0,,4,233580000.0,0.0,Z9,603130.0,10004,False,False,False,2024,4